body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;

    
}

main {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    width: 550px;
    max-width: 100vw;
    height: 100vh;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: url('/images/background.png'), rgb(48, 47, 47) 0px -158.291px / 100% 423.007% no-repeat;
    color: whitesmoke;
    width: 550px;
    max-width: 100vw;
    height: 208px;
    max-height: 20vh;
    flex-shrink: 0;;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


.movies {
    max-height: 70vh;
    width: 550px;
    max-width: 100vw;
    height: 779px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow: scroll ;
    align-items: center;
}

.movie {
    display: grid;
    grid-template: 200px / 1fr 3fr;
    width: 92%;
    border-bottom: 2px solid grey;
    font-size: 12px;
}


.movie-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.movie-img>img{
    height: 70%;
    max-width: 100%;
}

.movie-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

h4 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.movie-info-title {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 0px;
    align-items: center;
}

.movie-info-middle {
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 30%;
    overflow: hidden;
    align-items: center;
}

.genre, .runtime {
    font-size: 10px;
}

.runtime {
    width: 20%;
}

.genre {
    text-align: center;
    overflow: hidden;
    max-width: 30%;
    max-height: 44%;
}

.movie-info-body {
    margin-top: -10px;
    height: 30%;
    overflow: hidden;
}

.movie-info-body>p {
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-info-rating {
    display: flex;
    align-items: center;
}

.movie-info-add-to-watchlist {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}


.placeholder, .loading { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
    color: #dfdddd;
}

.failed>img {
    height: 50px;
    width: 50px;
}

.loading {
    height: 50px;
    width: 50px;
}

.search-bar {
    position: absolute;
    bottom: -18px;
    display: flex;
    background-color: #fff;
    border: 1px solid #DFDDDD;
    padding: 5px;
    border-radius: 5px;
}

input {
    display: flex;
    padding: 9px 13px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    width: 342px;
    max-width: 50vw;
    border: none;
}

button {
    border-radius: 0px 6px 6px 0px;
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--gray-50, #F9FAFB);
}

.placeholder-link {
    color: #dfdddd;;
}
