main {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    width: 550px;
    max-width: 100vh;
    border-radius: 10px;
    border: 2px solid black;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: url('/images/background.png'), rgb(48, 47, 47) 0px -158.291px / 100% 423.007% no-repeat;
    color: whitesmoke;
    width: 550px;
    height: 208px;
    max-height: 20vh;
    flex-shrink: 0;;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


.movies {
    max-height: 70vh;
    width: 550px;
    height: 779px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow: scroll ;
    align-items: center;
}

.movie {
    display: grid;
    grid-template: 200px / 1fr 4fr;
    width: 80%;
    border-bottom: 2px solid grey;
    font-size: 12px;
}


.movie-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.movie-img>img{
    height: 70%;
}

.movie-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.movie-info-title {
    display: flex;
    justify-content: space-around;
}

.movie-info-middle {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.movie-info-rating {
    display: flex;
    align-items: center;
}

.movie-info-add-to-watchlist {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}


.placeholder, .loading { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
    color: #dfdddd;
}

.search-bar {
    position: absolute;
    bottom: -18px;
    display: flex;
    background-color: #fff;
    border: 1px solid #DFDDDD;
    padding: 5px;
    border-radius: 5px;
}

input {
    display: flex;
    padding: 9px 13px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    width: 342px;
    max-width: 50vw;
    border: none;
}

button {
    border-radius: 0px 6px 6px 0px;
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--gray-50, #F9FAFB);
}

.placeholder-link {
    color: #dfdddd;;
}
